body{
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #a649bd, #7003ab, #9737ba, #6e1597, #3f044b, #000);
    margin: 0;
    padding: 0;
    background-size: 600% 600%;
    animation: gradientMove 7.5s ease infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.container {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    background-color: #6e1597;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px solid #ccc;
}
input[type="email"], input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #ccc;
}
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #34da5b;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #218838;
    scale: 1.05;
}
button[type="reset"] {
    background-color: #f31329;
}
button[type="reset"]:hover {
    background-color: #ab1e2c;
    scale: 1.05;
}
h1 {
    color: #ccc;
}